@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap');
/* font-family: 'Cairo', sans-serif; */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-height: 100%;
}

body{
    background-color: gray;
    min-width: 100%;
    max-width: 350px;
    max-height: 100%;
}

header{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-width: 350px;
    justify-content: center;
    align-items: center;
    padding: 22px;
    background-color: #141414;
    font-family: 'Cairo', sans-serif;
    text-align: center;
    
}

header img{
    padding-left: 22px;
}

header p{
    text-decoration: none;
    color: aliceblue;
    padding-top: 22px;
    font-size: 2rem;
}

main iframe {
    border: 5px solid red;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 350px;
    justify-content: center;
    align-items: center;
}

main p{
    margin: 22px;
    font-family: 'Cairo', sans-serif;
    font-size: 1.35em;
}

main button{
    margin: 22px 0;
    padding: 22px;
    border: 1px solid black;
    border-radius: 22px;
    font-family: 'Cairo', sans-serif;
    font-size: 1.2rem;
}

main button:hover{
    background-color: red;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    min-width: 350px;
    justify-content: center;
    align-items: center;
    padding: 22px;
    background-color: #141414;
    font-family: 'Cairo', sans-serif;
    text-align: center;
}

footer p{
    padding: 2px;
    color: wheat;
}